In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('AmsterdamHousingPrices/data.csv')

In [3]:
df.head()

,Special Feature,Apartment Name,Apartment Price,Rooms
0,\nCondo/Apartment\n,\nCommelinstraat 468 - Oost en Watergraafsmeer...,\n315.000 € (K.K.)\n,"\n\n3\n\n2\n\n1\n\n 71,20 \n"
1,\nCondo/Apartment\n,\nWagenaarstraat 185 - Oost en Watergraafsmeer...,\n715.000 € (K.K.)\n,"\n\n4\n\n3\n\n1\n\n 121,29 \n"
2,\nCondo/Apartment\n,\nwesterlengte 151 - Amsterdam-Noord - 1034TB ...,\n198.000 € (K.K.)\n,\n\n3\n\n2\n\n1\n\n 78 \n
3,\nCondo/Apartment\n,\nBaarsjesweg 139A - De Baarsjes - 1057 HM AMS...,\n375.000 € (K.K.)\n,"\n\n2\n\n1\n\n1\n\n 80,10 \n"
4,\nGarden Apartment\n,\nLomanstraat 95 Hs - Oud-Zuid - 1075PZ AMSTER...,\n1.250.000 € (K.K.)\n,\n\n5\n\n4\n\n2\n\n 140 \n

In [4]:
df['Special Feature'] = df['Special Feature'].str.replace('\n', '')
df['Apartment Name'] = df['Apartment Name'].str.strip('\n')
df['Apartment Price'] = df['Apartment Price'].str.replace('\n', '')
df['Rooms'] = df['Rooms'].str.replace('\n', '')
df['Special Feature'] = df['Special Feature'].str.replace('/', ' ')

In [5]:
df.head()

,Special Feature,Apartment Name,Apartment Price,Rooms
0,Condo Apartment,Commelinstraat 468 - Oost en Watergraafsmeer -...,315.000 € (K.K.),"321 71,20"
1,Condo Apartment,Wagenaarstraat 185 - Oost en Watergraafsmeer -...,715.000 € (K.K.),"431 121,29"
2,Condo Apartment,westerlengte 151 - Amsterdam-Noord - 1034TB AM...,198.000 € (K.K.),321 78
3,Condo Apartment,Baarsjesweg 139A - De Baarsjes - 1057 HM AMSTE...,375.000 € (K.K.),"211 80,10"
4,Garden Apartment,Lomanstraat 95 Hs - Oud-Zuid - 1075PZ AMSTERDAM,1.250.000 € (K.K.),542 140

In [6]:
df['Apartment Name'] = df['Apartment Name'].str.replace('-', '')
df['Apartment Price'] = df['Apartment Price'].str.replace('(K.K)', ' ')
df['Apartment Price'] = df['Apartment Price'].str.replace('.', ' ')
df['Apartment Price'] = df['Apartment Price'].str.replace('()', '')

In [7]:
df.head()

,Special Feature,Apartment Name,Apartment Price,Rooms
0,Condo Apartment,Commelinstraat 468 Oost en Watergraafsmeer 1...,315 000 € ( ),"321 71,20"
1,Condo Apartment,Wagenaarstraat 185 Oost en Watergraafsmeer 1...,715 000 € ( ),"431 121,29"
2,Condo Apartment,westerlengte 151 AmsterdamNoord 1034TB AMSTE...,198 000 € ( ),321 78
3,Condo Apartment,Baarsjesweg 139A De Baarsjes 1057 HM AMSTERDAM,375 000 € ( ),"211 80,10"
4,Garden Apartment,Lomanstraat 95 Hs OudZuid 1075PZ AMSTERDAM,1 250 000 € ( ),542 140

In [31]:
i = 0
while(i < 24):
    df['RoomSize'] = pd.Series(df['Rooms'][i], index=df.index)
    i = i + 1

In [32]:
df.head()

,Special Feature,Apartment Name,Apartment Price,Rooms,RoomSize
0,Condo Apartment,Commelinstraat 468 Oost en Watergraafsmeer 1...,315 000 € ( ),"321 71,20","321 71,20"
1,Condo Apartment,Wagenaarstraat 185 Oost en Watergraafsmeer 1...,715 000 € ( ),"431 121,29","321 71,20"
2,Condo Apartment,westerlengte 151 AmsterdamNoord 1034TB AMSTE...,198 000 € ( ),321 78,"321 71,20"
3,Condo Apartment,Baarsjesweg 139A De Baarsjes 1057 HM AMSTERDAM,375 000 € ( ),"211 80,10","321 71,20"
4,Garden Apartment,Lomanstraat 95 Hs OudZuid 1075PZ AMSTERDAM,1 250 000 € ( ),542 140,"321 71,20"